<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <title>临海市行政区划</title>
    <style>
        html,
        body,
        #map {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }

        #HomeButton {
            position: absolute;
            top: 95px;
            left: 20px;
            z-index: 5;
        }

        #zoomLevel {
            posistion: absolute;
            top: 1000px;
            left: 20px;
            z-index: 6;
        }



    </style>
    <link rel="stylesheet" href="http://localhost:8080/arcgis_js_api/3.21/3.21/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="http://localhost:8080/arcgis_js_api/3.21/3.21/esri/css/esri.css">
    <script>
        var locationPath = location.pathname.replace(/\/[^\/]+$/, "");
        var rootPath=locationPath.substr(0,locationPath.substr(1).indexOf("/")+1);

        window.dojoConfig = {
            deps:["js/main/main_addaddv"],
            packages: [
                {
                    name: "js",
                    location: rootPath + "/src/js"
                }
            ]
        };

    </script>
    <script src="http://localhost:8080/arcgis_js_api/3.21/3.21/init.js"></script>

</head>
<body class="claro">
<div id="map" class="map">
    <div id="HomeButton"></div>
    <label id="zoomLevel">label中的内容 </label>
</div>

</body>
</html>